<html>
<body>


<%= render "layouts/header" %>
	<div class="row-fluid">
		<%= render "layouts/tabmenu" %>
		<%= render "layouts/questions" %>
		<div class="clearfix"></div>
	</div>
<%= render "layouts/footer" %>



</body>
</html>